Repository Scale3-Labs/langtrace-typescript-sdk, pull requests merged in 2024-08, with the labels that each got.

#142 Release 5.0.0
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/examples/entrypoint.ts
  src/examples/ollama/basic.ts
  src/examples/openai/chat-completion-streaming.ts
  src/examples/openai/chat-completion.ts
  src/examples/openai/images-edit.ts
  src/examples/openai/send_user_feedback.ts
  src/examples/otlp/basic.ts
  src/examples/vercel/basic.ts
  src/extensions/spanprocessors/DropAttributesProcessor.ts
  src/init/init.ts
  src/init/types.ts
  src/instrumentation/anthropic/instrumentation.ts
  src/instrumentation/anthropic/patch.ts
  src/instrumentation/chroma/instrumentation.ts
  src/instrumentation/chroma/patch.ts
  src/instrumentation/cohere/patch.ts
  src/instrumentation/groq/patch.ts
  src/instrumentation/llamaindex/patch.ts
  src/instrumentation/ollama/instrumentation.ts
  src/instrumentation/ollama/patch.ts
  src/instrumentation/openai/instrumentation.ts
  src/instrumentation/openai/patch.ts
  src/instrumentation/pg/instrumentation.ts
  src/instrumentation/pg/patch.ts
  src/instrumentation/pinecone/patch.ts
  src/instrumentation/qdrant/patch.ts
  src/instrumentation/vercel/openai.ts
  src/instrumentation/weaviate/instrumentation.ts
  src/instrumentation/weaviate/patch.ts
  src/types/global.d.ts
  src/utils/instrumentation.ts
  src/utils/misc.ts
Labels: release:false, release:true

#144 Release 5.0.1
  CHANGELOG.md
  package.json
  src/instrumentation/groq/patch.ts
  src/instrumentation/openai/patch.ts
Labels: bug, release:true

#147 Release 5.0.2
  CHANGELOG.md
  package.json
  src/instrumentation/anthropic/patch.ts
  src/instrumentation/cohere/patch.ts
  src/instrumentation/groq/patch.ts
  src/instrumentation/ollama/patch.ts
  src/instrumentation/openai/patch.ts
  src/instrumentation/vercel/openai.ts
  src/utils/misc.ts
Labels: release:true

#150 Release 5.0.3
  CHANGELOG.md
  package.json
  src/init/init.ts
  src/init/types.ts
Labels: release:true

#153 Release 5.0.4
  CHANGELOG.md
  package-lock.json
  package.json
  src/instrumentation/openai/patch.ts
Labels: release:true

#157 Release 5.1.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/examples/vercel/anthropic.ts
  src/instrumentation/vercel/anthropic.ts
  src/instrumentation/vercel/instrumentation.ts
  src/instrumentation/vercel/patch.ts
Labels: release:true

#159 Release 5.1.1
  CHANGELOG.md
  package-lock.json
  package.json
  src/utils/llm.ts
Labels: release:true

#161 Release 5.1.2
  CHANGELOG.md
  package-lock.json
  package.json
  src/utils/llm.ts
Labels: release:true

#164 Release 5.2.0
  CHANGELOG.md
  package-lock.json
  package.json
  src/examples/gemini/basic.ts
  src/init/init.ts
  src/instrumentation/gemini/instrumentation.ts
  src/instrumentation/gemini/patch.ts
Labels: release:true

#167 Release 5.3.0
  CHANGELOG.md
  README.md
  package-lock.json
  package.json
  src/examples/vertexai/basic.ts
  src/init/init.ts
  src/instrumentation/gemini/instrumentation.ts
  src/instrumentation/vertexai/instrumentation.ts
  src/instrumentation/vertexai/patch.ts
  src/instrumentation/vertexai/types.ts
Labels: release:true

#170 Release 5.3.1
  CHANGELOG.md
  package.json
  src/instrumentation/gemini/instrumentation.ts
  src/instrumentation/vertexai/instrumentation.ts
Labels: release:false, release:true
